<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">
    <welcome-file-list>
        <welcome-file>login.html</welcome-file>
    </welcome-file-list>

    <!--device part begin-->
    <servlet>
        <servlet-name>show_deviceServletAction</servlet-name>
        <servlet-class>device.show_deviceServletAction</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>show_deviceServletAction</servlet-name>
        <url-pattern>/show_deviceServletAction/*</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>add_deviceServletAction</servlet-name>
        <servlet-class>device.add_deviceServletAction</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>add_deviceServletAction</servlet-name>
        <url-pattern>/add_deviceServletAction/*</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>delete_deviceServletAction</servlet-name>
        <servlet-class>device.delete_deviceServletAction</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>delete_deviceServletAction</servlet-name>
        <url-pattern>/delete_deviceServletAction/*</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>modify_deviceServletAction</servlet-name>
        <servlet-class>device.modify_deviceServletAction</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>modify_deviceServletAction</servlet-name>
        <url-pattern>/modify_deviceServletAction/*</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>search_deviceServletAction</servlet-name>
        <servlet-class>device.search_deviceServletAction</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>search_deviceServletAction</servlet-name>
        <url-pattern>/search_deviceServletAction/*</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>modifyquery_deviceServletAction</servlet-name>
        <servlet-class>device.modifyquerydevice_ServletAction</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>modifyquery_deviceServletAction</servlet-name>
        <url-pattern>/modifyquery_deviceServletAction/*</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>chart_deviceServletAction</servlet-name>
        <servlet-class>device.chart_deviceServletAction</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>chart_deviceServletAction</servlet-name>
        <url-pattern>/chart_deviceServletAction/*</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>query_deviceServletAction</servlet-name>
        <servlet-class>device.query_deviceServletAction</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>query_deviceServletAction</servlet-name>
        <url-pattern>/query_deviceServletAction/*</url-pattern>
    </servlet-mapping>
    <!--device part end-->


    <!--log in/out and register part begin-->
    <servlet>
        <servlet-name>loginServletAction</servlet-name>
        <servlet-class>user.loginServletAction</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>loginServletAction</servlet-name>
        <url-pattern>/loginServletAction/*</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>logoutServletAction</servlet-name>
        <servlet-class>user.logoutServletAction</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>logoutServletAction</servlet-name>
        <url-pattern>/logoutServletAction/*</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>registerServletAction</servlet-name>
        <servlet-class>user.registerServletAction</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>registerServletAction</servlet-name>
        <url-pattern>/registerServletAction/*</url-pattern>
    </servlet-mapping>
    <!--log in/out and register part end-->


    <!--user part begin-->
    <servlet>
        <servlet-name>add_userServletAction</servlet-name>
        <servlet-class>user.add_userServletAction</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>add_userServletAction</servlet-name>
        <url-pattern>/add_userServletAction/*</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>modify_userServletAction</servlet-name>
        <servlet-class>user.modify_userServletAction</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>modify_userServletAction</servlet-name>
        <url-pattern>/modify_userServletAction/*</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>upcheck_userServletAction</servlet-name>
        <servlet-class>user.upcheck_userServletAction</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>upcheck_userServletAction</servlet-name>
        <url-pattern>/upcheck_userServletAction/*</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>adminshow_oneuserServletAction</servlet-name>
        <servlet-class>user.adminshow_oneuserServletAction</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>adminshow_oneuserServletAction</servlet-name>
        <url-pattern>/adminshow_oneuserServletAction/*</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>downcheck_userServletAction</servlet-name>
        <servlet-class>user.downcheck_userServletAction</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>downcheck_userServletAction</servlet-name>
        <url-pattern>/downcheck_userServletAction/*</url-pattern>
    </servlet-mapping>
    <!--<servlet>-->
        <!--<servlet-name>modifyquery_userServletAction</servlet-name>-->
        <!--<servlet-class>user.modifyqueryuser_ServletAction</servlet-class>-->
    <!--</servlet>-->
    <!--<servlet-mapping>-->
        <!--<servlet-name>modifyquery_userServletAction</servlet-name>-->
        <!--<url-pattern>/modifyquery_userServletAction/*</url-pattern>-->
    <!--</servlet-mapping>-->
    <servlet>
        <servlet-name>delete_userServletAction</servlet-name>
        <servlet-class>user.delete_userServletAction</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>delete_userServletAction</servlet-name>
        <url-pattern>/delete_userServletAction/*</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>show_oneuserServletAction</servlet-name>
        <servlet-class>user.show_oneuserServletAction</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>show_oneuserServletAction</servlet-name>
        <url-pattern>/show_oneuserServletAction/*</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>show_userServletAction</servlet-name>
        <servlet-class>user.show_userServletAction</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>show_userServletAction</servlet-name>
        <url-pattern>/show_userServletAction/*</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>search_userServletAction</servlet-name>
        <servlet-class>user.search_userServletAction</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>search_userServletAction</servlet-name>
        <url-pattern>/search_userServletAction/*</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>chart_userServletAction</servlet-name>
        <servlet-class>user.chart_userServletAction</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>chart_userServletAction</servlet-name>
        <url-pattern>/chart_userServletAction/*</url-pattern>
    </servlet-mapping>
    <!--user part end-->


    <!--map part begin-->
    <servlet>
        <servlet-name>biaozhuServletAction</servlet-name>
        <servlet-class>map.biaozhuServletAction</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>biaozhuServletAction</servlet-name>
        <url-pattern>/biaozhuServletAction/*</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>trackServletAction</servlet-name>
        <servlet-class>map.trackServletAction</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>trackServletAction</servlet-name>
        <url-pattern>/trackServletAction/*</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>locateServletAction</servlet-name>
        <servlet-class>map.locateServletAction</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>locateServletAction</servlet-name>
        <url-pattern>/locateServletAction/*</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>locationqueryServletAction</servlet-name>
        <servlet-class>map.locationqueryServletAction</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>locationqueryServletAction</servlet-name>
        <url-pattern>/locationqueryServletAction/*</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>readareaServletAction</servlet-name>
        <servlet-class>map.readareaServletAction</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>readareaServletAction</servlet-name>
        <url-pattern>/readareaServletAction/*</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>saveareaServletAction</servlet-name>
        <servlet-class>map.saveareaServletAction</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>saveareaServletAction</servlet-name>
        <url-pattern>/saveareaServletAction/*</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>deleteareaServletAction</servlet-name>
        <servlet-class>map.deleteareaServletAction</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>deleteareaServletAction</servlet-name>
        <url-pattern>/deleteareaServletAction/*</url-pattern>
    </servlet-mapping>
    <!--map part end-->

    <!--weixin part begin-->
    <servlet>
        <servlet-name>CoreServlet</servlet-name>
        <servlet-class>wechat.servlet.CoreServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CoreServlet</servlet-name>
        <url-pattern>/CoreServlet/*</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>OAuthServlet</servlet-name>
        <servlet-class>wechat.servlet.OAuthServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>OAuthServlet</servlet-name>
        <url-pattern>/OAuthServlet/*</url-pattern>
    </servlet-mapping>
    <!--weixin part end-->

</web-app>